<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BizTalkSubscriptionsExtractor.Properties.Settings.BizTalkMgmtDb"
            connectionString="Data Source=.;Initial Catalog=BizTalkMgmtDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BizTalkSubscriptionsExtractor.Properties.Settings.BizTalkMsgBoxDb"
            connectionString="Data Source=.\msgbox;Initial Catalog=BizTalkMsgBoxDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
